@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* Global variables */

:root {
  --primary: #12bdff;
  --primary-hover: #0c8ec2;
  --dark-primary: #1b1f24;
  --font-color: #fff;
  --desc-color: #c4c4c4;
  --contrast-bg-color: #22282f;
  --box-shadow-color: #03506e;
  --footer-color: #808080;
  --primary-font: 'Arimo', sans-serif;
  --logo-font: 'Arizonia', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-primary);
  padding: 25px;
  color: var(--font-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

header .logo {
  color: var(--primary);
  margin-right: 130px;
  font-weight: 600;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 30px;
}

header ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

header ul li a:hover {
  color: var(--primary);
  transition: all 0.3s ease 0s;
}

/* Hero Section */
section.hero-section {
  background-color: var(--dark-primary);
  color: var(--font-color);
  display: flex;
  align-items: center;
  padding: 100px 120px 50px 200px;
}

.hero-section__title {
  font-size: 48px;
}

.hero-section__title span {
  color: var(--primary);
  font-family: var(--logo-font);
}

.hero-section__desc {
  color: var(--desc-color);
}

.hero-img img {
  border-radius: 15px;
  border-bottom: 1px solid var(--primary);
}

.social-icons {
  margin: 18px 0;
}

ul.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li {
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  padding: 8px 12px;
}

.social-icons li:hover {
  background-color: var(--primary);
  transition: all 0.3s ease 0s;
}

.social-icons li a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.hero-buttons button {
  margin-right: 10px;
}


/* buttons */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--dark-primary);
  font-weight: 600;
}

.btn.btn-primary a {
  text-decoration: none;
  color: var(--dark-primary);
}


.btn.btn-primary:hover {
  background-color: var(--primary-hover);
  transition: all 0.3s ease 0s;
}

.btn-dark-outlined {
  background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 5px;
  font-weight: 600;
}

.btn-dark-outlined a {
  text-decoration: none;
  color: var(--font-color);
}

.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--font-color);
  transition: all 0.3s ease 0s;
}


/* About Section */
section.about-section {
  background-color: var(--contrast-bg-color);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.about-img img {
  width: 250px;
  height: 250px;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid var(--primary);
  box-shadow: 3px 5px 30px var(--box-shadow-color);
  object-fit: cover;
}

.about-content {
  margin-left: 100px;
  max-width: 600px;
}

.about-content h2 {
  font-size: 33px;
}

.about-content h2>span {
  color: var(--primary);
  font-family: var(--logo-font);
}

.about-content p {
  color: var(--desc-color);
  font-size: 15px;
}

.about-content button {
  margin-top: 30px;
  font-size: 15px;
}

/* Know me more Section */


#experience {
  position: relative;
  background-color: var(--dark-primary);
  color: var(--desc-color);
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.experience-sub-title {
  color: var(--primary);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  font-family: var(--logo-font);
  padding-top: 1px;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  margin: 40px
}

.details-container{
  padding: 2rem;
  margin: 50px;
  flex: 1;
  background: var(--contrast-bg-color);
  border-radius: 5px;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.details-container:hover {
  box-shadow: 3px 5px 20px var(--box-shadow-color);
  transition: all 0.5s ease 0s;
  transform: translateY(-2px);
  }

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  text-align: center;
}


article {
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.section__text__p1 {
  font-family: var(--logo-font);
}

article h3 {
  color: var(--font-color);
}

/* Projects Section */
section.projects-section {
  background-color: var(--dark-primary);
  color: var(--font-color);
  padding: 50px 120px;
}

.projects-section h2 {
  font-size: 28px;
  text-align: center;
}

.projects-section h2>span {
  color: var(--primary);
  font-family: var(--logo-font);
}

.projects-cards {
  display: flex;
}

.projects-card-box {
  width: 33.33%;
  margin: 35px 10px;
  padding: 33px;
  background-color: var(--contrast-bg-color);
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}

.projects-card-box:hover {
  box-shadow: 3px 5px 20px var(--box-shadow-color);
  transition: all 0.5s ease 0s;
  transform: translateY(-2px);
}

.projects-card-box__icons>i {
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  padding: 20px;
}

.projects-card-box:hover .projects-card-box__icons>i {
  color: var(--primary);
  background-color: var(--dark-primary);
  transition: all 0.5s ease 0s;
}

.projects-card-box__desc h4 {
  font-size: 18px;
  margin: 18px 0 10px 0;
  font-family: var(--logo-font);
}

.projects-card-box__desc p {
  font-size: 14px;
  color: var(--desc-color);
}


/* Contact Section */
section.contact-section {
  background-color: var(--contrast-bg-color);
  color: var(--font-color);
  text-align: center;
  padding: 30px;
}

.contact-section h2 {
  font-size: 28px;
  margin: 18px 0;
}

.contact-section h2>span {
  color: var(--primary);
  font-family: var(--logo-font);
}

.contact-section form div>input,
textarea {
  background-color: var(--desc-color);
  width: 300px;
  padding: 5px 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  font-family: "Poppins", sans-serif;
}

.contact-section form div>input:focus,
textarea:focus {
  border: 1px solid var(--primary);
}

.contact-section form div>button {
  font-size: 14px;
}

/* Footer */
footer {
  background-color: var(--dark-primary);
  color: var(--footer-color);
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
}

footer a {
  text-decoration: none;
  color: var(--primary);
}

/* Media queries */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header .logo {
    margin: auto;
  }

  header ul {
    margin-top: 10px;
  }

  /* Hero Section */
  section.hero-section {
    flex-direction: column;
    padding: 40px;
    padding-top: 130px;
  }

  .hero-img img {
    display: none;
  }

  /* About Section */
  section.about-section {
    flex-direction: column;
    padding: 40px;
  }

  .about-content {
    margin-left: 0;
    margin-top: 30px;
  }

  /* know more */

  .about-containers {
    display: flex;
    flex-direction: column;
    margin: -34px -86px;
  }

  .section__text__p1{
    text-align: center;
  }

  .details-container{
    margin-bottom: -15px;
  }

  /* Projects Section */
  section.projects-section {
    padding: 40px;
  }

  .projects-cards {
    margin-top: 15px;
    flex-direction: column;
  }

  .projects-card-box {
    width: 100%;
    margin: 10px 0;
  }

  /* Contact Section */
  .contact-section form div input,
  textarea {
    width: 100%;
  }
}